In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [4]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [5]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [6]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [7]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [8]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [9]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [10]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [11]:
# save the encoders and scaler for later use
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

## ANN Regression Problem statement

In [12]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [13]:
# Build the model
model = Sequential([
    Dense(64, activation= 'relu', input_shape= (X_train.shape[1],)),
    Dense(32, activation= 'relu'),
    Dense(1) # output layer for regression
]) 


# compile the mode
model.compile(optimizer= 'Adam',loss = 'mean_absolute_error',metrics= ['mae'])

model.summary()

WARNING:tensorflow:From f:\GenAI\practicalGenAI\ANNProject\annproject\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From f:\GenAI\practicalGenAI\ANNProject\annproject\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [15]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

#set up Tensorboard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_Callback = TensorBoard(log_dir = log_dir , histogram_freq = 1)

In [16]:
# set up early stopping
early_stopping_callback = EarlyStopping(monitor= 'val_loss', patience= 10, restore_best_weights=True)

In [17]:
# train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test,y_test),
    epochs=100,
    callbacks=[early_stopping_callback,tensorboard_Callback]
)

Epoch 1/100
WARNING:tensorflow:From f:\GenAI\practicalGenAI\ANNProject\annproject\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From f:\GenAI\practicalGenAI\ANNProject\annproject\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 10s 15ms/step - loss: 100357.7344 - mae: 100357.7344 - val_loss: 98451.5078 - val_mae: 98451.5078
Epoch 2/100
250/250 [==============================] - 2s 9ms/step - loss: 99415.0781 - mae: 99415.0781 - val_loss: 96573.0078 - val_mae: 96573.0078
Epoch 3/100
250/250 [==============================] - 3s 11ms/step - loss: 96192.4844 - mae: 96192.4844 - val_loss: 91895.3672 - val_mae: 91895.3672
Epoch 4/100
250/250 [==============================] - 3s 11ms/step - loss: 90011.1562 - mae: 90011.1562 - val_loss: 84348.6172 - val_mae: 84348.6172
Epoch 5/100
250/250 [==============================] - 3s 10ms/step - loss: 81299.1875 - mae: 81299.1875 - val_loss: 75016.6641 - val_mae: 75016.6641
Epoch 6/100
250/250 [==============================] - 2s 9ms/step - loss: 71538.6953 - mae: 71538.6953 - val_loss: 65969.4688 - val_mae: 65969.4688
Epoch 7/100
250/250 [==============================] - 2s 10ms/step - loss: 62850.5039 - mae: 62850.5039 - val_loss: 58834.0391 - val_mae: 58834.0391
Epoch 8/100
250/250 [==============================] - 3s 12ms/step - loss: 56628.4688 - mae: 56628.4688 - val_loss: 54350.6992 - val_mae: 54350.6992
Epoch 9/100
250/250 [==============================] - 2s 10ms/step - loss: 53060.0078 - mae: 53060.0078 - val_loss: 52288.5234 - val_mae: 52288.5234
Epoch 10/100
250/250 [==============================] - 3s 11ms/step - loss: 51452.9297 - mae: 51452.9297 - val_loss: 51550.1836 - val_mae: 51550.1836
Epoch 11/100
250/250 [==============================] - 2s 9ms/step - loss: 50852.3008 - mae: 50852.3008 - val_loss: 51307.7695 - val_mae: 51307.7695
Epoch 12/100
250/250 [==============================] - 3s 12ms/step - loss: 50614.8633 - mae: 50614.8633 - val_loss: 51194.9023 - val_mae: 51194.9023
Epoch 13/100
250/250 [==============================] - 2s 9ms/step - loss: 50481.1719 - mae: 50481.1719 - val_loss: 51126.9805 - val_mae: 51126.9805
Epoch 14/100
250/250 [==============================] - 3s 11ms/step - loss: 50386.1055 - mae: 50386.1055 - val_loss: 51047.2031 - val_mae: 51047.2031
Epoch 15/100
250/250 [==============================] - 3s 10ms/step - loss: 50306.3906 - mae: 50306.3906 - val_loss: 50993.1602 - val_mae: 50993.1602
Epoch 16/100
250/250 [==============================] - 4s 15ms/step - loss: 50243.4258 - mae: 50243.4258 - val_loss: 50931.0781 - val_mae: 50931.0781
Epoch 17/100
250/250 [==============================] - 3s 13ms/step - loss: 50176.7266 - mae: 50176.7266 - val_loss: 50879.9023 - val_mae: 50879.9023
Epoch 18/100
250/250 [==============================] - 5s 18ms/step - loss: 50123.2148 - mae: 50123.2148 - val_loss: 50816.9453 - val_mae: 50816.9453
Epoch 19/100
250/250 [==============================] - 4s 15ms/step - loss: 50073.0938 - mae: 50073.0938 - val_loss: 50767.8750 - val_mae: 50767.8750
Epoch 20/100
250/250 [==============================] - 5s 19ms/step - loss: 50028.3477 - mae: 50028.3477 - val_loss: 50728.8516 - val_mae: 50728.8516
Epoch 21/100
250/250 [==============================] - 4s 17ms/step - loss: 49989.7891 - mae: 49989.7891 - val_loss: 50687.1445 - val_mae: 50687.1445
Epoch 22/100
250/250 [==============================] - 5s 18ms/step - loss: 49951.6211 - mae: 49951.6211 - val_loss: 50641.3984 - val_mae: 50641.3984
Epoch 23/100
250/250 [==============================] - 3s 12ms/step - loss: 49919.0078 - mae: 49919.0078 - val_loss: 50610.8516 - val_mae: 50610.8516
Epoch 24/100
250/250 [==============================] - 3s 12ms/step - loss: 49884.1289 - mae: 49884.1289 - val_loss: 50583.0352 - val_mae: 50583.0352
Epoch 25/100
250/250 [==============================] - 3s 10ms/step - loss: 49854.4023 - mae: 49854.4023 - val_loss: 50549.5312 - val_mae: 50549.5312
Epoch 26/100
250/250 [==============================] - 3s 12ms/step - loss: 49823.8906 - mae: 49823.8906 - val_loss: 50538.2656 - val_mae: 50538.2656
Epoch 27/100
250/250 [==============================] - 3s 11ms/step - loss: 49801.2891 - mae: 49801.2891 - val_loss: 50509.2305 - val_mae: 50509.2305
Epoch 28/100
250/250 [==============================] - 3s 11ms/step - loss: 49779.2773 - mae: 49779.2773 - val_loss: 50489.2656 - val_mae: 50489.2656
Epoch 29/100
250/250 [==============================] - 4s 16ms/step - loss: 49752.8594 - mae: 49752.8594 - val_loss: 50470.5352 - val_mae: 50470.5352
Epoch 30/100
250/250 [==============================] - 3s 14ms/step - loss: 49732.5508 - mae: 49732.5508 - val_loss: 50450.1836 - val_mae: 50450.1836
Epoch 31/100
250/250 [==============================] - 3s 12ms/step - loss: 49713.2539 - mae: 49713.2539 - val_loss: 50431.6641 - val_mae: 50431.6641
Epoch 32/100
250/250 [==============================] - 3s 12ms/step - loss: 49693.0156 - mae: 49693.0156 - val_loss: 50426.5586 - val_mae: 50426.5586
Epoch 33/100
250/250 [==============================] - 3s 12ms/step - loss: 49678.0430 - mae: 49678.0430 - val_loss: 50420.6523 - val_mae: 50420.6523
Epoch 34/100
250/250 [==============================] - 5s 20ms/step - loss: 49660.8555 - mae: 49660.8555 - val_loss: 50406.1016 - val_mae: 50406.1016
Epoch 35/100
250/250 [==============================] - 3s 13ms/step - loss: 49645.7109 - mae: 49645.7109 - val_loss: 50404.9961 - val_mae: 50404.9961
Epoch 36/100
250/250 [==============================] - 4s 15ms/step - loss: 49630.9844 - mae: 49630.9844 - val_loss: 50382.8242 - val_mae: 50382.8242
Epoch 37/100
250/250 [==============================] - 3s 13ms/step - loss: 49618.0117 - mae: 49618.0117 - val_loss: 50380.3750 - val_mae: 50380.3750
Epoch 38/100
250/250 [==============================] - 4s 17ms/step - loss: 49602.6055 - mae: 49602.6055 - val_loss: 50382.4922 - val_mae: 50382.4922
Epoch 39/100
250/250 [==============================] - 5s 20ms/step - loss: 49591.5000 - mae: 49591.5000 - val_loss: 50359.3945 - val_mae: 50359.3945
Epoch 40/100
250/250 [==============================] - 4s 16ms/step - loss: 49583.1289 - mae: 49583.1289 - val_loss: 50369.8750 - val_mae: 50369.8750
Epoch 41/100
250/250 [==============================] - 3s 12ms/step - loss: 49570.6367 - mae: 49570.6367 - val_loss: 50345.7227 - val_mae: 50345.7227
Epoch 42/100
250/250 [==============================] - 3s 12ms/step - loss: 49559.0039 - mae: 49559.0039 - val_loss: 50347.5703 - val_mae: 50347.5703
Epoch 43/100
250/250 [==============================] - 3s 12ms/step - loss: 49552.1055 - mae: 49552.1055 - val_loss: 50351.2188 - val_mae: 50351.2188
Epoch 44/100
250/250 [==============================] - 3s 13ms/step - loss: 49540.3203 - mae: 49540.3203 - val_loss: 50334.2656 - val_mae: 50334.2656
Epoch 45/100
250/250 [==============================] - 3s 13ms/step - loss: 49532.5625 - mae: 49532.5625 - val_loss: 50336.4727 - val_mae: 50336.4727
Epoch 46/100
250/250 [==============================] - 3s 13ms/step - loss: 49521.8633 - mae: 49521.8633 - val_loss: 50332.7891 - val_mae: 50332.7891
Epoch 47/100
250/250 [==============================] - 2s 9ms/step - loss: 49512.5586 - mae: 49512.5586 - val_loss: 50324.9141 - val_mae: 50324.9141
Epoch 48/100
250/250 [==============================] - 3s 11ms/step - loss: 49505.8828 - mae: 49505.8828 - val_loss: 50334.5938 - val_mae: 50334.5938
Epoch 49/100
250/250 [==============================] - 2s 9ms/step - loss: 49496.2969 - mae: 49496.2969 - val_loss: 50329.1484 - val_mae: 50329.1484
Epoch 50/100
250/250 [==============================] - 3s 14ms/step - loss: 49486.9609 - mae: 49486.9609 - val_loss: 50324.2344 - val_mae: 50324.2344
Epoch 51/100
250/250 [==============================] - 3s 11ms/step - loss: 49479.2070 - mae: 49479.2070 - val_loss: 50314.4727 - val_mae: 50314.4727
Epoch 52/100
250/250 [==============================] - 3s 11ms/step - loss: 49471.5469 - mae: 49471.5469 - val_loss: 50324.3008 - val_mae: 50324.3008
Epoch 53/100
250/250 [==============================] - 4s 15ms/step - loss: 49466.9453 - mae: 49466.9453 - val_loss: 50323.3867 - val_mae: 50323.3867
Epoch 54/100
250/250 [==============================] - 4s 14ms/step - loss: 49463.3008 - mae: 49463.3008 - val_loss: 50331.3867 - val_mae: 50331.3867
Epoch 55/100
250/250 [==============================] - 4s 16ms/step - loss: 49452.5273 - mae: 49452.5273 - val_loss: 50332.0469 - val_mae: 50332.0469
Epoch 56/100
250/250 [==============================] - 4s 14ms/step - loss: 49450.3281 - mae: 49450.3281 - val_loss: 50335.1406 - val_mae: 50335.1406
Epoch 57/100
250/250 [==============================] - 4s 15ms/step - loss: 49444.4883 - mae: 49444.4883 - val_loss: 50336.3867 - val_mae: 50336.3867
Epoch 58/100
250/250 [==============================] - 3s 11ms/step - loss: 49434.7852 - mae: 49434.7852 - val_loss: 50332.9414 - val_mae: 50332.9414
Epoch 59/100
250/250 [==============================] - 3s 12ms/step - loss: 49430.9219 - mae: 49430.9219 - val_loss: 50331.0742 - val_mae: 50331.0742
Epoch 60/100
250/250 [==============================] - 3s 11ms/step - loss: 49426.1289 - mae: 49426.1289 - val_loss: 50330.4844 - val_mae: 50330.4844
Epoch 61/100
250/250 [==============================] - 3s 11ms/step - loss: 49420.1953 - mae: 49420.1953 - val_loss: 50341.4141 - val_mae: 50341.4141

In [18]:
%load_ext tensorboard

In [20]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 12748), started 0:00:12 ago. (Use '!kill 12748' to kill it.)

In [21]:
# Evaluate model on the test data
test_loss, test_mae = model.evaluate(X_test, y_test)
print(f'test MAE: {test_mae}')

63/63 [==============================] - 1s 8ms/step - loss: 50314.4727 - mae: 50314.4727
test MAE: 50314.47265625

In [22]:
model.save('regression_model.h5')

f:\GenAI\practicalGenAI\ANNProject\annproject\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(